<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79935701298-q30d20v95ac1ipod5qfa2nmf5vsbjf6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79935701298-q30d20v95ac1ipod5qfa2nmf5vsbjf6v</string>
	<key>API_KEY</key>
	<string>AIzaSyD0z2BQgJ8Ef5v0-hCEzS5-roLVOdI9P2U</string>
	<key>GCM_SENDER_ID</key>
	<string>79935701298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.swiftbook.ToDoFIRE</string>
	<key>PROJECT_ID</key>
	<string>todofire-79946</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-79946.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79935701298:ios:f48e2b2e4d753b0171172b</string>
	<key>DATABASE_URL</key>
	<string>https://todofire-79946-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>